* {
    margin: 0;
    padding: 0;
}


.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
    max-width: 1320px;
    margin: 0 auto;
}

.happy-new-year-bg{
    background-image: url('/resources/linear.png'), url('/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    display: flex;
    height: 600px;
    width: 1320px;
    align-items: center;
    margin-top: 50px;
}

.happy-new-year-container {
    display: block;
    text-align: center;
    max-width: 632px;
    margin: auto;
}

.semi-title{
    font-size: 32px;
    color: #FFFFFF;
}

.title{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

.offer-container{
    margin-top: 120px;
    text-align: center;
}

.offer-title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 48px;
}

.offer-description {
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
}

.offer-categories {
    font-size: 48px;
    color: #070211;
    font-weight: bold;
    margin-bottom: 48px;
}

#new-year-photo {
    margin-bottom: 120px;
}

.midnight-party-bg{
    background-image: url('/resources/linear.png'), url('/resources/Vectorrr.png');
    display: flex;
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    align-items: center;
    margin-bottom: 120px;
    gap: 40px;;
}

.midnight-party-container {
    max-width: 690px;
    text-align: left;
    padding-left: 126px;
}

.midnight-party-title{
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    max-width: 600px;
    margin-bottom: 24px;
}

.midnight-party-description{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: regular;
    margin-bottom: 48px;
}

.btn-midnight-party {
    border: none;
    background: none;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 32px;
}

.midnight-party-image{
    max-height: 464px;
    max-width: 320px;
}